.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding:2%;
font-size:20px ;
  font-family: sans-serif;
}



/* Style the tab content */
.tabcontent {

  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
